KSP2_SOURCE=C:\Games\KSP2-clean
KSP2_LEGACY_ROOT=C:\Games\Kerbal Space Program 2 - Redux 0.2.8.5
TEST_WORKSPACE=C:\GameTests\BetterAA
REDUX_CLI=C:\Tools\redux-cli-x64.exe
REDUX_CONFIG=C:\Users\you\AppData\Local\Ksp2Redux\redux-launcher-config.json
UNITY_EDITOR=C:\Program Files\Unity\Hub\Editor\6000.6.0f1\Editor\Unity.exe
UNITY_EDITOR_LEGACY=C:\Program Files\Unity\Hub\Editor\6000.4.1f1\Editor\Unity.exe
TEST_HARNESS=C:\Source\ReduxTestHarness
TEST_FIXTURE=C:\GameTests\Fixtures\launchpad.json
KSP2_PROFILE=C:\Users\you\AppData\LocalLow\Intercept Games\Kerbal Space Program 2
